html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: url('./header.jpg') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    color: rgb(250, 250, 250);
    position: relative;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    justify-content: center;
    margin: auto 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    font-size: 3rem;
    padding-bottom: 150px;
}

.button{
    border: none;
    background-color: rgb(200, 93, 30);
    color:rgb(250, 250, 250);
    border-radius: 300px;
    padding: 0.5rem 1.5rem;
    transition: all ease 0.2s;
    text-transform: uppercase;
    text-decoration: none;
}

hr{
    color:rgb(197, 88, 5);
    width: 5rem;
    border: 2px solid rgb(197, 88, 5);
    background-color: rgb(197, 88, 5);

}

.button:hover{
    background-color: rgb(250, 250, 250);
    color: rgb(197, 88, 5);
    border: 2px solid rgb(197, 88, 5);
}